In [46]:
import pandas as pd

In [47]:
survey=pd.read_csv("survey.csv")

# Native Accessors

In [48]:
survey.Year

0        2019
1        2019
2        2019
3        2019
4        2019
         ...
32440    2013
32441    2013
32442    2013
32443    2013
32444    2013
Name: Year, Length: 32445, dtype: int64

survey.Year and survey['Year'] will give the same result

In [49]:
survey['Year']

0        2019
1        2019
2        2019
3        2019
4        2019
         ...
32440    2013
32441    2013
32442    2013
32443    2013
32444    2013
Name: Year, Length: 32445, dtype: int64

the advantage of using index operation is that it can handle reserved character in column list name <br>
for e.g. survey.x y is not valid while survey['x y'] will work

In [50]:
survey['Year'][0]

2019

In [51]:
survey.Year[0]

2019

Both survey['Year'][0] and survey.Year[0] give the same result

# Index in Pandas

### Index-based selection
Pandas indexing works in one of two paradigms. The first is index-based selection: selecting data based on its numerical position in the data. iloc follows this paradigm

In [52]:
survey.iloc[0]

Year                                                                        2019
Industry_aggregation_NZSIOC                                              Level 1
Industry_code_NZSIOC                                                       99999
Industry_name_NZSIOC                                              All industries
Units                                                         Dollars (millions)
Variable_code                                                                H01
Variable_name                                                       Total income
Variable_category                                          Financial performance
Value                                                                    728,239
Industry_code_ANZSIC06         ANZSIC06 divisions A-S (excluding classes K633...
Name: 0, dtype: object

Both loc and iloc are row-first, column-second. This is the opposite of what we do in native Python, which is column-first, row-second.

This means that it's marginally easier to retrieve rows, and marginally harder to get retrieve columns. To get a column with iloc, we can do the following

In [53]:
survey.iloc[:,0]

0        2019
1        2019
2        2019
3        2019
4        2019
         ...
32440    2013
32441    2013
32442    2013
32443    2013
32444    2013
Name: Year, Length: 32445, dtype: int64

In [54]:
survey.iloc[0:5,0:5]

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units
0,2019,Level 1,99999,All industries,Dollars (millions)
1,2019,Level 1,99999,All industries,Dollars (millions)
2,2019,Level 1,99999,All industries,Dollars (millions)
3,2019,Level 1,99999,All industries,Dollars (millions)
4,2019,Level 1,99999,All industries,Dollars (millions)

We can also pass list in a iloc function

In [55]:
l = [1,2,3,4,5,6,7,8,9]
survey.iloc[l,0:5]

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units
1,2019,Level 1,99999,All industries,Dollars (millions)
2,2019,Level 1,99999,All industries,Dollars (millions)
3,2019,Level 1,99999,All industries,Dollars (millions)
4,2019,Level 1,99999,All industries,Dollars (millions)
5,2019,Level 1,99999,All industries,Dollars (millions)
6,2019,Level 1,99999,All industries,Dollars (millions)
7,2019,Level 1,99999,All industries,Dollars (millions)
8,2019,Level 1,99999,All industries,Dollars (millions)
9,2019,Level 1,99999,All industries,Dollars (millions)

## Label-based selection
The second paradigm for attribute selection is the one followed by the loc operator: label-based selection. In this paradigm, it's the data index value, not its position, which matters

In [56]:
survey.loc[0:5,'Year'] # gives first 5 row of column year

0    2019
1    2019
2    2019
3    2019
4    2019
5    2019
Name: Year, dtype: int64

Choosing between loc and iloc
When choosing or transitioning between loc and iloc, there is one "gotcha" worth keeping in mind, which is that the two methods use slightly different indexing schemes.

iloc uses the Python stdlib indexing scheme, where the first element of the range is included and the last one excluded. So 0:10 will select entries 0,...,9. loc, meanwhile, indexes inclusively. So 0:10 will select entries 0,...,10.

Why the change? Remember that loc can index any stdlib type: strings, for example. If we have a DataFrame with index values Apples, ..., Potatoes, ..., and we want to select "all the alphabetical fruit choices between Apples and Potatoes", then it's a lot more convenient to index df.loc\['Apples':'Potatoes'] than it is to index something like df.loc\['Apples', 'Potatoet] (t coming after s in the alphabet).

# Manipulating the Index

In [57]:
survey.set_index("Value")

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Industry_code_ANZSIC06
Value,,,,,,,,,
"728,239",2019,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,ANZSIC06 divisions A-S (excluding classes K633...
"643,809",2019,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,ANZSIC06 divisions A-S (excluding classes K633...
"62,924",2019,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,ANZSIC06 divisions A-S (excluding classes K633...
"21,505",2019,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,ANZSIC06 divisions A-S (excluding classes K633...
"634,710",2019,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...
52,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
40,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
12,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
5,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
46,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

# Conditional selection

In [58]:
survey.Year == 1999

0        False
1        False
2        False
3        False
4        False
         ...
32440    False
32441    False
32442    False
32443    False
32444    False
Name: Year, Length: 32445, dtype: bool

We can use condition in loc

In [62]:
survey.loc[survey.Year==2013]

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
27810,2013,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,541042,ANZSIC06 divisions A-S (excluding classes K633...
27811,2013,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,473662,ANZSIC06 divisions A-S (excluding classes K633...
27812,2013,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,53770,ANZSIC06 divisions A-S (excluding classes K633...
27813,2013,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,13610,ANZSIC06 divisions A-S (excluding classes K633...
27814,2013,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,488612,ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
32440,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32441,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32442,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32443,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32444,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

Pandas comes with a few built-in conditional selectors, two of which we will highlight here.

The first is isin. isin is lets you select data whose value "is in" a list of values. For example, here's how we can use it to select Year which are 2013 and 2017

In [64]:
survey.loc[survey.Year.isin([2013,2017])]

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
9270,2017,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"646,185",ANZSIC06 divisions A-S (excluding classes K633...
9271,2017,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"567,028",ANZSIC06 divisions A-S (excluding classes K633...
9272,2017,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"60,654",ANZSIC06 divisions A-S (excluding classes K633...
9273,2017,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"18,504",ANZSIC06 divisions A-S (excluding classes K633...
9274,2017,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"560,694",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
32440,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32441,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32442,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32443,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32444,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

The second is isnull (and its companion notnull). These methods let you highlight values which are (or are not) empty (NaN). For example, to filter out values lacking a price tag in the dataset, here's what we would do

In [67]:
survey.loc[survey.Value.isnull()]

Empty DataFrame
Columns: [Year, Industry_aggregation_NZSIOC, Industry_code_NZSIOC, Industry_name_NZSIOC, Units, Variable_code, Variable_name, Variable_category, Value, Industry_code_ANZSIC06]
Index: []

In [68]:
survey.loc[survey.Value.notnull()]

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2019,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"728,239",ANZSIC06 divisions A-S (excluding classes K633...
1,2019,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"643,809",ANZSIC06 divisions A-S (excluding classes K633...
2,2019,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"62,924",ANZSIC06 divisions A-S (excluding classes K633...
3,2019,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"21,505",ANZSIC06 divisions A-S (excluding classes K633...
4,2019,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"634,710",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
32440,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32441,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32442,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32443,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32444,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

# Assigning Values

In [69]:
survey.Year = 5555

In [70]:
survey.Year

0        5555
1        5555
2        5555
3        5555
4        5555
         ...
32440    5555
32441    5555
32442    5555
32443    5555
32444    5555
Name: Year, Length: 32445, dtype: int64

Or iterable values

In [71]:
survey.Year = range(len(survey),0,-1) # value from len(survey) to 0 with difference of -1

In [72]:
survey.Year

0        32445
1        32444
2        32443
3        32442
4        32441
         ...
32440        5
32441        4
32442        3
32443        2
32444        1
Name: Year, Length: 32445, dtype: int32