In [14]:
import pandas as pd

# Summary Function

In [15]:
survey = pd.read_csv("survey.csv")

In [16]:
survey.Year.describe()

count    32445.000000
mean      2016.000000
std          2.000031
min       2013.000000
25%       2014.000000
50%       2016.000000
75%       2018.000000
max       2019.000000
Name: Year, dtype: float64

In [17]:
survey.Year.mean() # returns the mean value of all values present in Year column

2016.0

# Map

A map is a term, borrowed from mathematics, for a function that takes one set of values and "maps" them to another set of values.<br>
There are two mapping methods that you will use often <br>
1. map()<br>
2. apply()

In [18]:
mean_value = survey.Year.mean()
survey.Year.map(lambda x:x-mean_value)

0        3.0
1        3.0
2        3.0
3        3.0
4        3.0
        ...
32440   -3.0
32441   -3.0
32442   -3.0
32443   -3.0
32444   -3.0
Name: Year, Length: 32445, dtype: float64

**apply() method**

In [21]:
def change_mean_year(row) :
    row.Year = row.Year - mean_value
    return row
survey.apply(change_mean_year,axis="columns")

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,3.0,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"728,239",ANZSIC06 divisions A-S (excluding classes K633...
1,3.0,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"643,809",ANZSIC06 divisions A-S (excluding classes K633...
2,3.0,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"62,924",ANZSIC06 divisions A-S (excluding classes K633...
3,3.0,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"21,505",ANZSIC06 divisions A-S (excluding classes K633...
4,3.0,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"634,710",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
32440,-3.0,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32441,-3.0,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32442,-3.0,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32443,-3.0,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32444,-3.0,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

If we had called reviews.apply() with axis='index', then instead of passing a function to transform each row, we would need to give a function to transform each column.

In [22]:
survey_year_mean = survey.Year.mean()
survey.Year-survey_year_mean

0        3.0
1        3.0
2        3.0
3        3.0
4        3.0
        ...
32440   -3.0
32441   -3.0
32442   -3.0
32443   -3.0
32444   -3.0
Name: Year, Length: 32445, dtype: float64

## using sum builtin mapping functions
> builtin functions are faster than map() and apply() methods

In [25]:
survey_year_mean = survey.Year.mean()
survey.Year - survey_year_mean

0        3.0
1        3.0
2        3.0
3        3.0
4        3.0
        ...
32440   -3.0
32441   -3.0
32442   -3.0
32443   -3.0
32444   -3.0
Name: Year, Length: 32445, dtype: float64

In [26]:
survey.Units+"-"+survey.Variable_code

0        Dollars (millions)-H01
1        Dollars (millions)-H04
2        Dollars (millions)-H05
3        Dollars (millions)-H07
4        Dollars (millions)-H08
                  ...
32440            Percentage-H37
32441            Percentage-H38
32442            Percentage-H39
32443            Percentage-H40
32444            Percentage-H41
Length: 32445, dtype: object